<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
<div>
    <a href="/">Back To Home Page</a>
</div>
<div>
    <a href="/add">Add Employee</a>
</div>
<div class="align-center">
    <div th:if="${errorMessage}">
        <p>Error: <span th:text="${errorMessage}"></span></p>
    </div>
    <div th:each="employee : ${employees}">
        <div class="card text-white border-dark bg-dark mb-1" style="text-align: center">
            <div>
                <h2 th:text="${employee.getEmpId()}"></h2>
            </div>
            <div>
                <a th:href="@{/delete/{id}(id=${employee.id})}">Delete</a>
            </div>
            <div>
                <a th:href="@{/edit/{id}(id=${employee.id})}">Edit</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>